<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
</style>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<script>
$(function(){//页面加载完成以后执行
	 $('#myModal').modal('show');  
       
   });
</script>

<body>
	<!-- 按钮触发模态框 -->
	<!-- <div id="abc"></div>
	<button class="btn btn-primary btn-lg" data-toggle="modal"data-target="#myModal">立即注册</button>
	</div> -->
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">x</button>
					<h4 class="modal-title" id="myModalLabel">
						一、精英商城用户注册 <br />
						您同意本协议并注册成功即成为商标圈的注册用户直至您的账户注销。商标圈可能在必要的时候对本协议条款及商标圈各单项服务协议进行更改，此种更改在商标圈上公布或在具体服务过程中经双方以口头、书面等形式协商一致生效。您可以选择停止使用商标圈相关的服务或者注销您在商标圈的账户，否则商标圈将认为您同意更改后的服务条款。未在商标圈发布或在具体服务过程中未经商标圈告知的服务条款将不具有法律效力，除非签有书面协议，并且仅对签署协议的当事人有效。

						二、用户账户
						您应当拥有中华人民共和国法律认可的完全民事权利能力和完全民事行为能力，否则您和能够代表您行使权利或承担责任的其他主体将承担一切后果。为此，您应当提供相应的证明。如果您是自然人，此类证明可以是您的居民身份证件、个人户营业执照。如果您是法人，此类证明可以是您的营业执照。如果您是其他组织类型，您应当提供相应的合法证明。

						如果使用商标圈提供的各单项服务，您可能还需要提交其他相关的资料和信息。为了提供更好的服务，您也可以向我们提供其他资料和信息，我们将按照商标圈的隐私政策保护您的资料和信息。

						您应当保护好您的账户言论负完全的责任。 <br /> 用户必须遵循： <br />
						（1）从中国境内向外传输技术性资料时必须符合中国有关法规。 <br /> （2）使用网络服务不作非法用途 <br />
						（3）不干扰或混乱网络服务 <br /> （4）遵守所有使用网络服务的网络协议、规定、程序和惯例。
					</h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<a href="Eliteteam"><button type="button"
							class="btn btn-default">关闭</button></a> <a href="Eliteteamzhuce"><button
							type="button" class="btn btn-primary">同意并继续</button></a>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	

</body>
</html>